/* +++++++++++++++++++++++++++++++++++++++++++
   comments
++++++++++++++++++++++++++++++++++++++++++++*/

/*
  text-shadow: 1px 1px 0px #d8b045;
  -webkit-box-shadow: #ffc001 0px 1px 1px;
  -moz-box-shadow: #ffc001 0px 1px 1px;
  box-shadow: #ffc001 0px 1px 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  behavior: url("/css/PIE.htc");
*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


@font-face {
    font-family: Helvetica;
    src: url(css/fonts/HelvFE.otf);
   }

/* +++++++++++++++++++++++++++++++++++++++++++
  default style
++++++++++++++++++++++++++++++++++++++++++++*/
* {
	outline: none !important;
	padding: 0;
	margin: 0;
}
html {
}
body {
	height: auto;
	width: 100%;
	position: relative;
	font-family: Helvetica;
	
}

header {
	height: 250px;
	width: 100%;
	background-color: #414974;
	position: relative;
	background-image:  url(../i/bgTopSH.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#lang {
	position: absolute;
	top: -20px;
	right: 20px;
	opacity: 0.6;
}
#lang span {
	display: inline-block;
	height: 15px;
	width: 35px;
	background-color: #02043f;
	border: 1px solid #edeeef;
	border-radius: 5px;
	padding: 5px;
	text-align: center;
}
#lang span a {
	color: #edeeef;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
}
#logoSH {
	height: 250px;
	width: 250px;
	position: absolute;
	top: 0;
	left: 0;
	background-image:  url(../i/logoSH.png);
	background-size: cover;
}
#nametop {
	height: auto;
	width: auto;
	padding-left: 100px;
	padding-top: 30px;
	text-align: center;
	font-size: 70px;
	font-weight: 900;
	color: #abafb6;
	text-shadow: 0 0 20px #02043f;
}
#nametop:hover {
	color: #fff;
}
#infotop {
	height: 90px;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
	border: 2px dashed #02043f;
	color: #abafb6;
	font-size: 15px;
	font-weight: 600;
}
main#smarthouse {
	height: auto;
	width: 100%;
	position: relative;
}
nav#navmenu {
	height: 70px;
	width: 100%;
	background-color: #02043f;
}
ul#topmenuline {
	height: 100%;
	width: 80%;
	margin: 0 auto;
}
ul#topmenuline li {
	display: inline-block;
	height: 100%;
	width: 20%;
	margin: 0 -3px;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	font-weight: bold;
	color: #abafb6;
}
ul#topmenuline li a{
	color: #abafb6;
	text-decoration: none;
	text-shadow: 0 0 5px #738aa9;
}
ul#topmenuline li a:hover{
	color: #2a4f96;
	text-shadow: none;
	font-size: 25px;
}
#infomain {
	height: auto;
	min-height: 340px;
	width: auto;
	background-color: #f1f2f2;
	position: relative;
}
#infopart {
	height: auto;
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 50px 0;
}
.textquote {
	height: auto;
	width: 300px;
	border: 3px dashed #2a4f96;
	padding: 10px;
	font-size: 30px;
	font-weight: 400;
	font-style: oblique;
	color: #02043f;
	text-align: center;
	line-height: 40px;
}
.rightside {
	float: right;
	position: relative;
	margin-left: 20px;
}
.textblock {
	font-size: 20px;
	font-weight: 400;
	color: #02043f;
	text-indent: 50px;
	line-height: 30px;
}
.texttitle {
	font-size: 40px;
	font-weight: 900;
	color: #02043f;
	margin-bottom: 30px;
	line-height: 50px;
}
#benefitside {
	height: auto;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
#benefitside:after {
	content: "";
	display: block;
	clear: both;
}
#partline {
	height: auto;
	width: 80%;
	margin: 0 auto;
}
.benpart {
	height: auto;
	width: 25%;
	float: left;
	font-size: 20px;
	font-weight: 800;
	padding-bottom: 30px;
}
.benico {
	padding: 40px 0 20px 0;
	color: #02043f;
	font-size: 30px;
	text-shadow: 0 0 10px #738aa9;
}
#light,
#climate {
	height: auto;
	width: 100%;
	padding: 20px 0;
	background-color: #02043f;
	color: #edeeef;
}
#light .bgimg {
	height: 200px;
	width: 20%;
	background-image: url(../i/50244.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	padding: 20px;
}
#light {
	background-image: url(../i/572.png);
}
#climate .bgimg {
	height: 200px;
	width: 20%;
	background-image: url(../i/klimat.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	padding: 20px;
}
#water {
	background-image: url(../i/bgBen.png);
}
#climate {
	background-image: url(../i/Teka.png);
}
#media {
	background-image: url(../i/age.png);
}
#light .texttitle,
#climate .texttitle {
	color: #edeeef;
	text-align: center;
}
#light .textblock,
#climate .textblock {
	color: #edeeef;
	height: auto;
	width: 80%;
	margin: 20px auto;
}
#light:after,
#water:after,
#climate:after,
#media:after {
	content: "";
	display: block;
	clear: both;
}
#water,
#media {
	height: auto;
	width: 100%;
	padding: 20px 0;
	background-color: #edeeef;
	color: #02043f;
}
#water .bgimg {
	height: 200px;
	width: 20%;
	background-image: url(../i/pict1.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	padding: 20px;
}
#media .bgimg {
	height: 200px;
	width: 20%;
	background-image: url(../i/49985.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	padding: 20px;
}
#water .texttitle,
#media .texttitle,
#sstech .texttitle,
#portlist .texttitle {
	text-align: center;
}
#water .textblock,
#media .textblock,
#sstech .textblock {
	height: auto;
	width: 80%;
	margin: 20px auto;
}
#sstech .textblock {
	font-weight: 800;
}
#sstech {
	height: auto;
	width: 100%;
	padding: 20px 0;
	color: #02043f;
	background-image:  url(../i/uyt.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#portlist {
	height: auto;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
#portlist:after {
	content: "";
	display: block;
	clear: both;
}
#portline {
	height: auto;
	width: 80%;
	margin: 0 auto;
}
.portpart {
	height: auto;
	width: 25%;
	padding: 40px 0 20px 0;
	float: left;
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 30px;
}
.portico {
	height: auto;
	width: 100%;
	padding-bottom: 20px;
}
.portico img {
	height: auto;
	width: 80%;
}

footer {
	height: 150px;
	width: 100%;
	background-color: #414974;
}
#footertext {
	height: auto;
	width: auto;
	padding-top: 30px;
	text-align: center;
	font-size: 70px;
	font-weight: 900;
	color: #edeeef;
}